<section id="historia" class="section section-historia">
    <div class="div-historia div-section">
        <div class="div-historia-container">
            <h1>Nossa História</h1>
            <p>A história da Wolf Squad Brasil é uma familiar que começa como
                uma simples brincadeira entre amigos e acaba se tornando algo
                muito maior do que todos poderiam imaginar. Tudo começou em 2017,
                quando um grupo de amigos se juntou para jogar videogames e gravar
                alguns vídeos apenas para se divertir, sem qualquer pretensão competitiva.
            </p>
            <p>Na época, a equipe se chamava Black Wolves e jogavam alguns jogos competitivos,
                mas nada muito sério. Foi apenas em 2020, quando o Modern Combat 5 lançou seu
                primeiro campeonato mundial, que a equipe começou a se destacar e a precisar
                de um nome mais forte.
            </p>
            <p>Depois de muita reflexão e discussão, o grupo decidiu escolher um nome em inglês
                que representasse a essência da equipe. Foi assim que surgiu o nome Wolf Squad,
                ou Esquadrão de Lobos em português.
            </p>
            <p>Como o novo nome, o Wolf Squad Brasil se transformou em uma equipe regional que
                rapidamente se tornou mundial. Hoje, a equipe possui jogadores em diversos jogos,
                incluindo PUBG, STANDOFF2 e CSGO, e é uma das equipes favoritas no cenário do STANDOFF2.
            </p>
            <p>A equipe continua a crescer e se destaca cada dia mais, e a história da Wolf Squad Brasil
                é uma prova de que, às vezes, as melhores coisas surgem de um simples grupo de amigos
                jogando videogame juntos.
            </p>

        </div>
    </div>
</section>