<section id="Home" class="section home-section">

    <div class="div-section">

        <h1 class="games-h1">Nossa Equipe|
            <p>Games nos quais atuamos</p>
        </h1>


        <div class="div-pubg">
            <div class="shadow">

                <h1>Pubg</h1>
                <p> Nossa equipe aceitou o desafio de competir nos torneios e
                    competições Pubg Mobile e Pubg PC.<br> Por meio de extensa prática
                    e experiência, os membros de nossa equipe aprimoraram suas
                    habilidades em ambas as plataformas.<br>
                    A participação em torneios em ambas as plataformas permite que
                    nossa equipe mostre sua versatilidade e adaptabilidade como
                    jogadores.
                </p>
            </div>
        </div>
        <div class="div-standof">
            <div class="shadow">
                <h1>Standoff</h1>
                <p> O sucesso de nossa equipe no Standoff 2 pode ser atribuído
                    aos pontos fortes individuais de cada um membro.<br> Temos jogadores
                    que se destacam em diferentes áreas, como nosso Capitão e
                    atirador de elite Tarkynarok.<br> Ao utilizar os pontos fortes de
                    cada jogador, somos capazes de criar uma equipe completa que
                    pode se adaptar a qualquer situação.
                </p>
            </div>
        </div>

    </div>

</section>
