{% load static %}
<section id="recrutamento" class="section section-recrut">
    <div class="div-section-white">
        <h1 class="title_recrut h1-para1">Recrutamento</h1>

        <div class="form_recrut">
            <form>
                <label for="fname">Nome:</label><br>
                <input type="text" id="fname" name="fname" placeholder="Nome e Sobrenome"><br>
                <br>
                <label for="lnick">Nickname:</label><br>
                <input type="text" id="lnick" name="lnick" placeholder="Seu Nick"><br>
                <br>
                <label for="lemail">Email:</label><br>
                <input type="text" id="lemail" name="lemail" placeholder="Email@email.com"><br>
                <br>
                <label for="ltext">Sobre:</label><br>
                <textarea type="text" id="ltext" maxlength="200" placeholder="Fale um pouco sobre voce"></textarea>


            </form>



        </div>
    </div>
</section>