{% load  static %}
<section id="recrutamento" class="section section-recrut">
    <div class="div-section-white">

        <h1 class="h1-para1">Quem Procuramos?</h1>
        <div class="div-paragrafo-1">
            <p> No cenário competitivo de jogos FPS, é essencial ter uma equipe forte
                e coesa para alcançar o sucesso.<br><br> O Capitão Tarkynarok sabe disso
                muito bem, pois já liderou equipes vencedoras em diversos torneios.<br><br>
                Agora, ele está em busca de novos jogadores talentosos e comprometidos para
                formar uma equipe imbatível.<br><br>
                Você é um jogador apaixonado com talento para jogos de tiro em primeira pessoa?<br><br>
                Você quer mostrar suas habilidades em um nível competitivo e potencialmente ganhar prêmios?
            </p>

            <p> Com seu estilo de liderança inspirador e seu conhecimento técnico do jogo,
                Tarkynarok pode ajudar a levar uma equipe ao topo do cenário competitivo
                de jogos FPS.<br><br> Se você é um jogador experiente e ambicioso, e está disposto a
                trabalhar em equipe para alcançar a vitória, essa é a sua chance de se juntar
                a um dos líderes mais respeitados do cenário competitivo de jogos FPS.<br><br>
                Juntos, vocês podem conquistar prêmios, reconhecimento e uma posição de destaque no mundo dos
                jogos online.
            </p>

        </div>
        <div class="div-img">
            <a class="a-img-tarky"><img src="{% static "global/img/tarky.png" %}"></a>


            <div class="div-img-text">
                <h1 class="h1-tarky">Capitão</h1>
                <p class="p-tarky">Tarkynarok é um jogador experiente que participou de vários torneios
                    de jogos FPS e ganhou vários prêmios.
                </p>
                <p class="p-tarky"> Ele é capaz de orientar a equipe em situações difíceis e é conhecido
                    por sua ética de trabalho e dedicação ao treinamento. Com Tarknarok liderando o caminho,
                    temos confiança em nossa capacidade de competir em um nível alto e alcançar a vitória.
                </p>
            </div>
        </div>



    </div>
</section>