{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} | WS-Brasil</title>

  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css"
        integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css"
        integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"
        integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

   <link rel="stylesheet" href="{% static 'news/css/styles.css' %}">

   <link rel="stylesheet" href="{% static 'global/css/global_style.css' %}">

   


</head>

<body id="Inicio">

    <input id="close-menu" class="close-menu" type="checkbox" aria-label="close menu" role="button">
    <label class="close-menu-label" for="close-menu" title="close-menu"></label>

    <aside class="menu">
        
        <nav>
            <div class="div-wolf-squad">
                <h1 class="div-wolf-squad-h1">WOLF SQUAD</h1>
            </div>
        </nav>
        <div class="menu-div main-content">
            <nav>
                <ul onclick="getElementById('close-menu').checked = false;">
                    <li><a href="{% url 'news:home' %}">Home</a></li>
                    <li><a href="{% url 'news:games' %}">Historia</a></li>
                    <li><a href="{% url 'news:storys' %}">Recrutamento</a></li>
                    <li><a href="{% url 'authors:dashboard' %}">Painel de controle</a></li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="space"></div>
    {% block content %}  {% endblock content %}
    <footer class="footer">
        <div class="contact">
            <ul class="ul-contact">
                <li class="icon-contact"><a href="https://discord.gg/pxRVrPtk" target="_blank"
                        rel="noopener noreferer"><img src="{% static "global/img/discord.png" %}"></a></li>
                <li class="icon-contact"><a href="https://www.twitch.tv/ws_tarkynarok" target="_blank"
                        rel="noopener noreferer"><img src="{% static "global/img/twitch.png" %}"></a></li>
                <li class="icon-contact"><a href="https://www.instagram.com/ws_tarkynarok/" target="_blank"
                        rel="noopener noreferer"><img src="{% static "global/img/instagram.png" %}"></a></li>
            </ul>
        </div>
        <p class="footer-p">Produzido por Diego Nunes</p>
    </footer>
    <script src="{% static 'global/js/scripts.js' %}">  </script>
</body>
</html>

