{% extends 'global/base.html' %}

{% block title %} Login  {% endblock title%}

{% block content %}

<section id="recrutamento" class=" section-form-recrut">
    <div>
        <h1 class="title_recrut h1-para1">Login</h1>
            
            
           
        {% include 'authors/partials/login_messages.html' %}

        {%if not request.user.is_authenticated %}

            {% include 'global/partials/form.html' %}

            <div class="form-content from_content-grid">
                <div class="register-clicked">
                    <a class="register-a"  href="{% url 'authors:register' %}">
                        Registrar
                    </a>
                </div>
            </div>
        {% endif %}
    <div>
</section>

{% endblock content %}